@import "../../../../node_modules/rfs/scss";

.body {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  color: #000000;

  .mask {
    transform-origin: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    mask-image: url("../../../../public/about_mask.svg");
    mask-repeat: no-repeat;
    mask-size: 40px;
    background: #B6B3B3;
    position: absolute;

    p {
      @include padding(40px);
      @include font-size(30px);
      //@include rfs(67px, line-height);
      text-align: center;
      color: #444040;
      margin-left: 40px;
    }
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    @include font-size(64px);
    @include rfs(67px, line-height);

    p {
      color: black;
    }
  }
}